<!DOCTYPE html>
<html>
    
<head>
    <title>Location</title>
</head>
<link rel="stylesheet" type="text/css" href="static\css\style.css">


    <div class='heading'>

        <div id = 'gps' class='gpsData'>
        <h1>GPS Tracker</h1>
        <p>Latitude: {{ latitude }}</p>
        <p>Longitude: {{ longitude }}</p>
        <p>timestamp:{{ timestamp }}</p>

        
    </div>
        
        <div class='geoFence'>
            <h1>Fenced Field Form</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
         </div>
    </div>

    <div id="map" ></div>

    

    {% comment %} <script>

        var lat = {{ latitude }};
        var lon = {{ longitude }};
        console.log(lat)
        console.log(lon)
        map.innerHTML = '<iframe width="1080" height="500" src="https://maps.google.com/maps?q='+lat+','+lon+'&amp;z=15&amp;t=k&amp;output=embed"></iframe>';
    
  
    </script>  {% endcomment %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
<script type="text/javascript">
    var lat = 20;
    var lon = 20;
    var prevlat = 0;
    console.log(lat);
    map.innerHTML = '<iframe width="1080" height="500" src="https://maps.google.com/maps?q=' + lat + ',' + lon + '&amp;z=15&amp;t=k&amp;output=embed"></iframe>';
    
    var latitude = "{{ latitude }}";
    var longitude = "{{ longitude }}";
    var timestamp = "{{ timestamp }}";
    var checkInside = "{{ inside }}";
    
    function updateMap(latitude, longitude , time , insideCheck) {
        
        gps.innerHTML =     ` <h1>GPS Tracker</h1>
                             <p>Latitude: ${latitude}</p>
                            <p>Longitude: ${longitude}</p>
                            <p>Timestamp: ${time}</p> 
                            <p>Checkinside: ${insideCheck}</p>`

        map.innerHTML = '<iframe width="1080" height="500" src="https://maps.google.com/maps?q=' + latitude + ',' + longitude + '&amp;z=15&amp;t=k&amp;output=embed"></iframe>';
    }

    function makeAjaxRequest() {
        $.ajax({
            url: "/updatedata/",
            type: "GET",
            data: {
                lat: lat
            },
            dataType: "json",
            success: function (data) {
                if (data.latitude !== lat) {
                    lat = data.latitude;
                    lon = data.longitude;
                    ti = data.timestamp;
                    insideCheck = data.inside;

                    console.log(lat,lon,ti ,insideCheck);
                    updateMap(lat, lon , ti ,insideCheck);
                } else {
                    lat = data.latitude;
                    console.log(insideCheck);
                }
                
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }

    var intervalTime = 1000; // Set the interval time in milliseconds

    // Start the loop using setInterval()
    var ajaxLoop = setInterval(makeAjaxRequest, intervalTime);
</script>

{% comment %} <script type="text/javascript">
    var lat = {{ latitude }};
    var prevlat = 0 ;
    console.log(lat);
    function makeAjaxRequest() {
        
            $.ajax({
                url: "/updatedata/",
                type: "GET",
                data: {
                    lat: lat
                },
                dataType: "json",
                success: function (data) {
                    if (data.latitude !== lat) {
                        location.reload()
                    }
                    else{
                        lat = data.latitude
                    }
                    console.log(lat);
                    // Fetch and update data again after a short delay (e.g., 3 seconds)
                    
                },
                error: function (error) {
                    console.log("Error:", error);
                    // Retry after a short delay (e.g., 3 seconds) in case of errors
                    
    }});
    }
    
   
    var intervalTime = 1000; // 
    
    // Start the loop using setInterval()
    var ajaxLoop = setInterval(makeAjaxRequest, intervalTime);
        
   
    </script>  {% endcomment %}



{% comment %} </html> 
 <div id="ajax-content">
    <!-- The data from the server will be displayed here -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Send an Ajax request to the server
        $.ajax({
            url: "{% url '127.0.0.1:8000/endpoint/' %}", // Replace with the correct URL
            type: "GET",
            dataType: "json",
            success: function(data) {
                // Update the content of the 'ajax-content' div
                $('#ajax-content').text(data.message);

                var lat =data.latitude ;
                var lon = data.longitude ;
                console.log(lat)
                console.log(lon)
                map.innerHTML = '<iframe width="1080" height="500" src="https://maps.google.com/maps?q='+lat+','+lon+'&amp;z=15&amp;output=embed"></iframe>';
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    });
</script>    {% endcomment %}

<style>
    
.heading {
    m:5;
    display: flex;
  }

.gpsData {
    flex: 1;
  }
.geoFence{
    flex:1;
}


</style>